* { margin: 0; padding: 0; }
			
body { 
	font-family: cabin, helvetica, arial, sans-serif; 
	min-width: 320px;
}

pre {text-align: left}

header {
	color: #fff;
	background-color: #DE8A0C;
	height: 3em;
}

h1 { 
	font-weight: 600; 
	height: 100%;
	line-height: 1.8em;
	margin: 0 0.5em;
	display: inline-block;
	font-size: 1.6em;
}

h2 {
	color: #7f4ed8; 
	padding-left:.85em;
	font-size: 1.3em;
	padding-bottom: 0.35em;
	border-bottom: 7px solid #ccc;
	margin-bottom: 1.2em;
}

#menu {
	float: right;
	height: 100%;
	line-height: 1.7em;
	margin: 0 0.5em;
}

button {
    font-weight: 500;
    background-color: #4fa9e8;
    color: #fff;
    font-size: 0.8em;
    padding: 0.4em 1.4em;
    border: 1px solid #95c4ef;
    cursor: pointer;
    margin: 0.8em 0.5em 0 0;
    width: 20%;
    min-width: 15em;
}

#query {
	display: inline-block;
	margin: auto;
}

#query span {
	font-weight: 200; 
	font-style: italic; 
	color: #aaa;
	font-size: 0.8em;
	display: block;
	text-align: right;
	margin-right: 0.66em;
}

input { 
	font-family: cabin, helvetica, arial, sans-serif; 
	box-sizing: border-box;
	padding: 0.3em;
	font-size: 1.2em;
	font-weight: 500;
	margin-left: 0.33em;
}

label { margin: 0 1em; font-size: 1em;}

#content {
	text-align: center;
	padding: 0.8em;
	color: #333;
}

#content button {
	color: #fff;
	background-color: indianred; 
	width: 15%;
	margin:auto;
	padding: 0.7em;
	font-size: 1.1em;
}

#content button[disabled] {
	background-color: #888;
	cursor: wait;
}

ul {
	display: inline-block;
	text-align:left;
}

li {
	color: #7f4ed8;
	margin: 0.5em 0.5em 0.9em 1.6em;
}

a {
	color: inherit;
	text-decoration: none;
}

p { margin-bottom: 1.2em; }

li:hover { 
	color: #2b93d4;
}

#result {
	margin-top: 3em;
	color: #2b93d4;
}

code {
	padding: 0.2em 0.4em;
	margin-right: 1em;
	background-color: #ffe4d4;
}

#number { font-size: 15em; font-weight: 800; }
#message1 { font-size: 2.6em; font-weight: 600; }
#message2 { font-size: 1.6em; font-weight: 600; font-style: italic; color: #333; display: block; }
#message2.error { color: #cc0202; }



#register-for-notifications {
	margin-top: 5em;
}

#register-for-notifications h4 {
	font-size: 1.7em;
	margin-bottom: 0.9em;
}



#register-for-notifications .error {
	color: indianred;
	font-style: italic;
	display: none;
}

button#register { 
	display: none; 
	margin-bottom: 1.7em;	
}

#register.unregistered {
	background-color: #0288e1;
}

#register.registered {
	background-color: #0060a7;
}

#register.waiting {
	background-color: #ccc;
}

